body{
    text-align:justify;
    
    background-color: #E1C603;

}
#PASSAT
{
  width: 2,5cm;
}


  #MOTOR
  {
    width: 2,5cm;
  }

  
  #F250
  {
     width:2,5cm;
  }

h1{
  height: 100px;

    color: #00ff00;

  background-color:  #008000;

  font-size: 80px;

  font-style: italic;
 
}
h2{
    Color:   #0000ff

}
