body{
    text-align:justify;
    
    background-color: #E1C603;

}
#Id
<!---
PARA CRIAR A ID USA #NOME DE IDENTIFICAÇÃO DA IMAGEM
--->

{
    width: 100%;
  <!---
quando utilizamos width : 100% deixamos a imagem escolhida com 100% de largura da tela, independente do tamanho da tela
--->
}

h1{
  height: 100px;
  <!---
define a altura do título principal
--->
    color: #00ff00;
        
  <!---
define a cor do título principal
--->
  background-color:  #EDC100;
 <!---
define a cor de fundo do título principal
--->
  font-size: 80px;
   <!---
define a altura do título principal
--->
  font-style: italic;
 
}
h2{
    Color:   #D02C0F
 <!---
define a cor do segundo título
--->
}
